@import "../../../styles/colors.scss";

.slides-editor-overview-component {
  background: var(--color-background-1);
  border-radius: 4px;
  padding: 15px;
  &:first-child {
    padding-top: 5px;
  }
  &:last-child {
    padding-bottom: 5px;
  }
  transition: box-shadow 0.3s;
  user-select: none;
  color: var(color-text-2);

  &:active {
    transition-delay: 200ms;
    box-shadow: var(--box-shadow-medium), var(--box-shadow-medium), var(--box-shadow-medium);
  }

  .label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon-container {
      display: flex;
      gap: 5px;
    }
    padding-bottom: 5px;
    padding: 3px;
  }

  .preview-container {
    border: 2px solid var(--color-border-2);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;
    gap: 8px;
    &.active-slide {
      border: 2px solid var(--color-border-4);
    }

    .label-question {
      overflow: hidden;
      white-space: nowrap;
      width: 92%;
      text-align: center;
    }

    .label-time {
      font-size: 12px;
      border-radius: 50%;
      padding: 4px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-border-3);
    }

    .container-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 10px;
      width: 100%;
      gap: 4px;
      margin-top: 4px;
      .container-option {
        border: 1px solid var(--color-border-3);
        padding: 1px 4px;
        overflow: hidden;
        border-radius: 3px;
        color: var(color-text-4);
        &.option-active {
          border: 1px solid var(--color-main-2);
          background: var(--color-main-2);
          color: var(--color-white);
        }
        .label-option {
          overflow: hidden;
          white-space: nowrap;
          width: 98%;
        }
      }
    }
  }
}
