.library-page {
  width: 100%;
  max-width: 1100px;
  min-height: calc(100vh - 50px);
  padding: 20px;
  margin: 0 auto;

  .library-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 28px;
    }
  }
}
