.navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 10000;
  box-shadow: var(--box-shadow-medium);
  background: var(--color-background-1);
  top: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .navbar-container-desktop {
    padding: 20px 0px;
    max-width: 1100px;
    position: relative;
    height: 80px;
    @media (max-width: 1250px) {
      max-width: 80vw;
    }
    @media (max-width: 1250px) {
      max-width: 75vw;
    }
    @media (max-width: 850px) {
      display: none;
    }

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .side-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      color: var(--color-text-2);
      .app-name {
        font-weight: 400;
        font-size: 24px;
        .app-name-bold {
          font-weight: 600;
        }
      }
      .app-icon {
        width: 40px;
        height: 40px;
        fill: var(--color-icon-3);
        &.active {
          fill: var(--color-main-2);
        }
      }
    }
    .side-links {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 25px;

      .link {
        padding: 6px 12px;
        color: var(--color-text-6);
        border-radius: 6px;

        &:hover {
          color: var(--color-text-2);
        }
        &.active {
          color: var(--color-white);
          background: var(--color-main-2);
        }
      }
    }
  }
  .theme-toggle-container {
    @media (max-width: 850px) {
      display: none;
    }
    .theme-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      fill: var(--color-icon-1);
      left: 28px;
      top: 28px;
      cursor: pointer;
    }
  }
}
