@import "../../../styles/mixins.scss";
.navbar-holder {
  width: 100px;
  height: 100vh;
  // transition: width 0.5s;
  &.active {
    width: 300px;
    min-width: 300px;
    .navbar {
      .navbar-container {
        .links-container {
          .link-container {
            min-width: 200px;
            .link-text {
              display: flex;
            }
          }
        }
      }
    }
  }

  .navbar {
    // transition: width 0.5s;
    position: fixed;
    padding: 10px;
    overflow: hidden;
    z-index: 10000;
    box-shadow: var(--box-shadow-medium);
    background: var(--color-background-2);
    top: 0;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 100vh;
    width: 100px;
    &.active {
      width: 300px;
    }
    .menu-icon {
      background: var(--color-background-2);
      fill: var(--color-text-2);
      position: absolute;
      cursor: pointer;
      height: 40px;
      width: 40px;
      right: 20px;
      padding: 5px;
    }

    .navbar-container {
      display: flex;
      position: relative;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      height: 100%;
      color: var(--color-text-2);

      .links-container {
        @include flex-center-column();
        align-items: flex-start;
        padding: 10px;
        width: 100%;
        gap: 10px;
        padding-top: 45px;
        .link-container {
          width: 100%;
          padding: 15px;
          border-radius: 12px;
          gap: 20px;
          cursor: pointer;
          &.active,
          &:hover {
            background: var(--color-background-1);
          }
          @include flex-flexStart-center();
          .link-text {
            display: none;
            font-size: 20px;
            font-weight: 500;
          }
          .link-icon {
            fill: var(--color-text-2);
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}
