@import "../../../styles/colors.scss";

.event-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  background: var(--color-background-1);
  box-shadow: var(--box-shadow-medium);
  z-index: 100000;
  .event-navbar-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 22px;
      .name {
        @media (max-width: 1200px) {
          display: none;
        }
      }
      .icon-logo {
        @media (max-width: 1200px) {
          display: none;
        }
        width: 38px;
        width: 38px;
      }
      .bold {
        font-weight: 600;
      }
    }
    .event-setting {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      .container-setting {
        padding: 7px 12px;
        border-radius: 6px;
        background: var(--color-background-2);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &.highlight {
          background: var(--color-main-2);
          font-weight: 500;
          color: var(--color-white);
          cursor: pointer;
          .icon-setting {
            fill: var(--color-white);
          }
        }
        .icon-setting {
          width: 22px;
          height: 22px;
          cursor: pointer;
          fill: var(--icon-color-2);
        }
        span {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
