@import "../../../styles/colors.scss";

.preview-collections-container {
  padding: 10px;
  .buttons-sort-bar {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 2px dashed var(--color-background-3);
  }
}
