.players-result {
  .players-result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    background: var(--color-background-1);
    box-shadow: var(--box-shadow-medium);
    padding: 20px;
    border-radius: 8px;
  }
}
