@import "../../../styles/colors.scss";
.create-question-component {
  color: var(--color-text-2);
  height: 100%;
  padding: 10px;

  .title-input {
    width: 100%;
    font-size: 36px;
    background: none;
    border: none;
    outline: none;
  }

  .answers-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    & > div {
      width: 100%;
    }
  }
  .project-name {
    font-size: 30px;
  }
}
