@import "../../../styles/mixins.scss";
.preview-collection-create {
  @include flex-spaceAround-center();
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  background: var(--color-background-1);
  height: 100%;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: var(--box-shadow-medium);
  }
  .preview-collection-icon {
    width: 110px;
    height: 110px;
    fill: var(--color-text-3);
    background: var(--color-background-2);
    border-radius: 12px;
  }
}
