@import "../../../styles/mixins.scss";
.preview-collection-create {
  @include flex-spaceAround-center();
  cursor: pointer;
  border-radius: 12px;
  padding: 20px;
  background: var(--color-background-1);
  background: rgba(219, 255, 216, 0.774);
  height: 100%;
  &:hover {
    background: rgb(219, 255, 216);
  }
  .preview-collection-icon {
    width: 100px;
    height: 100px;
    fill: rgb(67, 238, 52);
  }
}
