@import "../../../styles/colors.scss";

.textarea-container {
  position: relative;
  .characters-left {
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
  }
}
.slide-editor-quiz-option {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 15px;
  grid-template-columns: 40px 1fr 35px;
  background: rgb(255, 255, 255);
  border-radius: 8px 8px 8px 8px;
  font-size: 18px;

  .textarea-option {
    width: 100%;
    background: none;
    font-size: 16px;
    background: white;
    border-radius: 6px;
    border: none;
  }

  .icon {
    opacity: 0.3;
    fill: var(--color-main-2);
    cursor: pointer;
    width: 35px;
    &.checked {
      opacity: 1;
    }
  }
}
