@import "../../../styles/colors.scss";

.preview-collection {
  color: var(--color-text-3);
  width: 100%;
  position: relative;

  .icon-star {
    top: 0;
    right: 0;
    position: absolute;
    transform: translate(30%, -30%);
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 8px;
    background: var(--color-background-1);
    fill: var(--color-icon-2);
    &.active {
      fill: var(--color-main-1);
    }
  }

  .preview-collection-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--color-background-2);
    width: 100%;
    padding: 20px 20px 20px 25px;
    border-radius: 8px;

    .title-container {
      width: 100%;
      border-bottom: 2px solid var(--color-background-2);
      padding-bottom: 6px;
      h2 {
        font-size: 28px;
        margin: 0;
        font-weight: 500;
      }
    }

    .property-container {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      .side-container-1 {
        display: flex;
        align-items: center;
      }
      .side-container-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        gap: 20px;
        .icon-side {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2px;
          .icon {
            height: 30px;
            width: 30px;
            padding: 5px;
            border-radius: 5px;
            color: var(--color-text-2);
            fill: var(--color-icon-2);
            &:hover {
              background: var(--color-background-3);
            }
          }
        }
      }
    }
  }
}
