@import "../../../styles/colors.scss";

.preview-collection {
  color: var(--color-text-3);
  width: 100%;
  .preview-collection-container {
    background: var(--color-background-1);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    .title-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      h2 {
        font-size: 24px;
        padding: 0;
        margin: 0;
        font-weight: 500;
      }
      .icon-star {
        transform: translate(40%, -40%);
      }
      letter-spacing: 1px;
      width: 100%;
      color: var(--color-text-1);
    }
    .property-container {
      display: flex;
      justify-content: space-between;

      .side-container-1 {
        display: flex;
        align-items: center;
      }
      .side-container-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        gap: 15px;
        .icon {
          height: 20px;
          width: 20px;
          color: var(--color-text-2);
        }
      }
    }
  }
}
