.select-answer-component {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  grid-template-columns: 25px 1fr 30px;
  background: rgb(255, 255, 255);
  border-radius: 6px;

  .icon {
    opacity: 0.5;
    fill: rgb(45, 45, 51);
    cursor: pointer;
    width: 35px;
    &.checked {
      opacity: 1;
    }
  }
}
