.create-page {
  height: calc(100vh - 50px);
  background: rgb(240, 241, 243);
  padding: 15px;
  width: 100%;

  .create-page-container {
    display: grid;
    grid-template-columns: 270px 1fr 250px;
    gap: 15px;
    width: 100%;
    height: 100%;
    & > div {
      border-radius: 8px;
    }
  }
}
