.textarea-create {
  outline: none;
  border: none;
  font-family: Nunito;
  resize: none;
  display: flex;
  height: 25px;
}

.textarea-question {
  width: 100%;
  background: none;
  padding: 20px;
  font-size: 28px;
  text-align: center;
}
