@import "../../../styles/colors.scss";

.home-lobby {
  .home-lobby-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8vw 1fr;
    min-height: calc(100vh - 55px);
    height: 100%;
    row-gap: 20px;
    .container-title {
      grid-column: span 2;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      background: var(--color-main-2);
      // background: var(--color-background-2);

      border-radius: 8px;
      h2 {
        margin: 0;
        font-weight: 400;
        font-size: 2.4vw;
      }
    }
    .container-players {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 20px;
      .players-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 1.4vw;
        padding: 0.5em;
        gap: 1em;
        width: 100%;
        .player {
          box-shadow: var(--box-shadow-medium);
          // background: var(--color-background-2);
          padding: 0.5em 1em;
          border-radius: 0.2em;
        }
      }
    }
    .container-qr-code {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 3px dashed var(--color-background-3);
      .box-qr-code {
        padding: 20px;
        box-shadow: var(--box-shadow-medium), var(--box-shadow-medium);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .label {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}
