*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

.space-around-development {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  width: 100%;
}

.svg-icon-default-size {
  width: 24px;
}

.svg-icon-default-color {
  fill: rgb(40, 42, 46);
}

.svg-icon-tick-square {
  cursor: pointer;
  opacity: 0.3;
  width: 30px;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}
