*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

.space-around-development {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;
  width: 100%;
}
